/* General */

	body{
		font-family: 'Playfair Display', sans-serif;
		margin: 0;
                                        
	}
	section{
		position: relative;
		overflow: hidden;
	}
	.inner{
		max-width: 1300px;
		margin: auto;
	}
	.myButton{
		color: #1E1E1E !important;
		padding:14px;
		background-color: #F9C06A;
		filter: drop-shadow(0px 6px 12px rgba(249,192,106,.22));
		border: 1px solid #1E1E1E;
		border-radius: 24px;
		font-size: 14px;
		width: fit-content;
		text-decoration: none;
	}
	h3{
		font-size: 48px;
		color: #603809;
		font-family: 'Playfair Display', sans-serif;
		margin: 0;
	}
	@media (max-width: 960px){
		h3{
			font-size: 32px;
		}
	}
	@media (max-width: 768px){
		h3{
			font-size: 30px;
		}
	}
	@media (max-width: 500px){
		.myButton{
			font-size: 12px;
			padding: 12px;
		}
		.inner{
			max-width: 100%;
		}
		h3{
			font-size: 28px;
		}
	}

/*****************************/

/* Section 1 */
	#heroSection{
		background: url(assets/images/heroBackground.png);
		background-size: cover;
		background-position: center;
		color: white;
		padding: 20px 40px 80px;
	}
	#heroSection nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-content: center;
	}

	#heroSection nav > div{
		margin: auto 0;
	}
	#heroSection a{
		color: white;
		text-decoration: none;
	}
	#heroSection .navItems{
		display: flex;
		justify-content: center;
		gap: 40px;
		font-size: 14px;
	}
	#heroSection .logo h4{
		font-family: 'Clicker Script', sans-serif;
		font-weight: 400;
		font-size: 35px;    
		margin: 0;                                   
	}
	#heroSection .signUpButtons{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		font-size: 14px;
	}
	#heroSection .section1_Row2{
		margin-top: 100px;
		width: 40%;
	}
	#heroSection .section1_Row2 h2{
		font-size: 20px;
		font-weight: 500;
	}
	#heroSection h1{
		font-family: 'Clicker Script', sans-serif;
		font-size: 220px;
		font-weight: 400;
		line-height: 200px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	#heroSection p{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 20px;
	}

	@media (max-width:960px){
		#heroSection nav{
			justify-content: center;
		}
		#heroSection .navItems, #heroSection .signUpButtons{
			display: none;
		}
		#heroSection .section1_Row2{
			margin-top: 70px;
		}
	}
	@media (max-width:768px){
		#heroSection .section1_Row2{
			margin-top: 40px;
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		#heroSection .section1_Row2 *{
			text-align: center;
		}
		#heroSection .section1_Row2 h1{
			font-size: 150px;
			margin-top: 20px;
			margin-bottom: 10px;
			line-height: 180px;
		}
		#heroSection .section1_Row2 h2{
			font-size: 18px;
		}
		#heroSection .section1_Row2 p{
			font-size: 16px;
		}
		#heroSection .section1_Row2 a{
			margin: auto;
		}
	}
	@media (max-width:500px){
		#heroSection .logo h4{
			font-size: 24px;
		}
		#heroSection{
			padding-bottom: 20px;
		}
		#heroSection .section1_Row2{
			margin-top: 0px;
		}
		#heroSection .section1_Row2 h1{
			font-size: 100px;
			line-height: 70px;
		}
		#heroSection .section1_Row2 h2{
			font-size: 14px;
		}
		#heroSection .section1_Row2 p{
			font-size: 12px;
		}
	}
/*****************************/

/* Section 2 */ 

	#section2 .section2_Row1{
		display: flex;
		flex-wrap: wrap-reverse;
		padding: 100px 20px;
	}
	#section2 .section2_Row1_Col2{
		display: flex;
		align-items: center;
	}
	#section2 .section2_Row1_Col1{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
	}
	#section2 .section2_Row1 img{
		width: 450px;
		margin: auto;
		text-align: center;
	}
	#section2 .section2_Row1_Col1 p{
		color: #707070;
		font-size: 16px;
	}
	@media (min-width: 768px){
		#section2 .section2_Row1 > div{
			width: 50%;
		}
	}
	@media (max-width:960px){
		#section2 .section2_Row1 img{
			width: 320px;
		}
		#section2 .section2_Row1{
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
	@media (max-width: 768px){
		#section2 .section2_Row1{
			padding: 20px 10px;
			gap: 20px;
		}
		#section2 .section2_Row1 > *{
			width: 100%;
			align-items: center;
		}
		#section2 .section2_Row1 *{
			text-align: center;
		}
		#section2 .section2_Row1 img{
			width: 250px;
		}
	}
/*****************************/

/* Section 3 */
	#section3{
		padding:0 0 100px;
	}
	#section3 *{
		text-align: center;
	}
	#section3 .coffeeCard{
		width: 280px;
		height: auto;
		background-color: #FFF9F1;
		border: 1px #F9C06A solid;
		position: relative;
		margin-bottom: 20px;
	}
	#section3 .section3_Row1 p{
		color: #707070;
	}
	#section3 img{
		width: 100%;
		height: auto;
	}
	#section3 .section3_Row2{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		flex-wrap: wrap;
	}
	#section3 .coffeeCardText *{
		margin: 0 0 5px;
	}
	#section3 .coffeeCardText{
		margin: 10px auto 35px;
	}
	#section3 .coffeeCard h5{
		color: #603809;
		font-size: 20px;
	}
	#section3 .coffeeCard p{
		font-size: 14px;
	}
	#section3 .coffeeCard h6{
		color: #603809;
		font-size: 18px;
	}
	#section3 .myButton{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,50%);
	}
